* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #1d2021;
    border: 2px solid #3c3836;
}

tooltip {
    background-color: #1d2021;
    color: #ebdbb2;
    border: 2px solid #7c6f64;
}

#clock,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#wireplumber,
#custom-power{
    background-color: transparent;
    color: #ebdbb2;
    margin: 6px 6px 6px 0px;
    padding: 2px 6px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 2px 8px;
    color: #ebdbb2;
}

#workspaces button.active {
    text-decoration: underline;
    font-weight: bold;
    color: #cc241d;
}

#workspaces button.urgent {
    color: #d65d0e;
}
